<div class="content-wrapper container-xxl p-20">
  <div class="content-body">
    <section id="description-list-alignment">
      <div class="row match-height">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <h1 class="card-title">Політика конфіденційності та обробки персональних даних</h1>
            </div>
            <div class="card-body">
              <dl class="row">
                <dt class="col-sm-3">1. Загальні положення</dt>
                <dd class="col-sm-9">Ця політика обробки персональних даних визначає порядок обробки персональних даних та заходи щодо забезпечення безпеки персональних даних ФОП Елізарова Е.Л. (далі - Оператор).
                  <br>
                  Оператор визначає як свою найважливішу мету та умову здійснення своєї діяльності дотримання прав і свобод людини і громадянина при обробці його персональних даних, включаючи захист прав на приватне життя, особисту та сімейну таємницю.
                  <br>
                  Ця Політика Оператора щодо обробки персональних даних (далі Політика) застосовується до всієї інформації, яку Оператор може отримати про відвідувачів веб-сайту https: //http:/instacafe.shop/.</dd>
              </dl>
              <dl class="row">
                <dt class="col-sm-3">2. Основні поняття, що використовуються в Політиці</dt>
                <dd class="col-sm-9">
                  Автоматизована обробка персональних даних - обробка персональних даних за допомогою комп’ютерної техніки;
                  <br>
                  Блокування персональних даних - тимчасове припинення обробки персональних даних (якщо обробка не потрібна для уточнення персональних даних);
                  <br>
                  Веб-сайт - набір графічних та інформаційних матеріалів, а також комп’ютерних програм та баз даних, що забезпечують їх доступність в Інтернеті за мережевою адресою http:/instacafe.shop/;
                  <br>
                  Інформаційна система персональних даних - сукупність персональних даних, що містяться в базах даних, і забезпечує їх обробку інформаційними технологіями та технічними засобами;
                  <br>
                  Анонімізація персональних даних - дії, в результаті яких неможливо визначити без використання додаткової інформації право власності на персональні дані конкретному Користувачеві чи іншому суб'єкту персональних даних;
                  <br>
                  Обробка персональних даних - будь-яка дія (операція) або сукупність дій (операцій), що виконуються за допомогою засобів автоматизації або без використання таких інструментів з особистими даними, включаючи збір, запис, систематизацію, накопичення, зберігання, уточнення (оновлення, модифікацію), пошук, використання, передача (розповсюдження, надання, доступ), знеособлення, блокування, видалення, знищення персональних даних;
                  <br>
                  Оператор - державний орган, муніципальний орган, юридична чи фізична особа, незалежно або спільно з іншими особами, організовуючи та (або) обробляючи персональні дані, а також визначаючи цілі обробки персональних даних, склад персональних даних, що підлягають обробці, дії (операції), що виконуються з персональними даними;
                  <br>
                  Персональні дані - будь-яка інформація, яка безпосередньо чи опосередковано стосується конкретного або визначеного Користувача веб-сайту https://instacafe.shop/;
                  <br>
                  Користувач - будь-який відвідувач веб-сайту https: // http:instacafe.shop/;
                  <br>
                  Надання персональних даних - дії, спрямовані на розкриття персональних даних конкретній особі чи певному колу осіб;
                  <br>
                  Поширення персональних даних - будь-які дії, спрямовані на розкриття персональних даних невизначеному колу осіб (передача персональних даних) або ознайомлення з персональними даними необмеженого кола осіб, включаючи розкриття персональних даних у ЗМІ, розміщення інформації та телекомунікацій мережі або надання доступу до персональних даних будь-яким іншим способом;
                  <br>
                  Транскордонна передача персональних даних - передача персональних даних на територію іноземної держави іноземному державному органу, іноземній фізичній чи іноземній юридичній особі;
                  <br>
                  Знищення персональних даних - будь-які дії, внаслідок яких персональні дані безповоротно знищуються з неможливістю подальшого відновлення вмісту персональних даних в інформаційній системі персональних даних та (або), в результаті яких матеріальні носії персональних даних знищуються.


                </dd>
              </dl>
              <dl class="row">
                <dt class="col-sm-3">3. Оператор може обробляти такі <br>особисті дані Користувача</dt>
                <dd class="col-sm-9 ml-auto">
                  Повне ім'я;
                  <br>
                  Адреса електронної пошти;
                  <br>
                  Телефон;
                  <br>
                  Інша інформація, що надається за бажанням Користувача;
                  <br>
                  Сайт також збирає та обробляє анонімні дані про відвідувачів (включаючи файли cookie) за допомогою сервісів Інтернет-статистики (Yandex Metric і Google Analytics та інші).
                  <br>
                  Наведені вище дані додатково включені в текст Політики загальною концепцією Персональних даних.
                  <br>

                </dd>
              </dl>
              <dl class="row">
                <dt class="col-sm-3">4. Мета обробки персональних даних
                </dt>
                <dd class="col-sm-9">
                  Метою обробки персональних даних Користувача є інформування Користувача шляхом надсилання електронних листів; укладення, виконання та розірвання цивільно-правових договорів; надання Користувачеві доступу до послуг, інформації та / або матеріалів, що містяться на веб-сайті.
                  <br>
                  Оператор також має право надсилати повідомлення Користувачу про нові товари та послуги, спеціальні пропозиції та різні заходи. Користувач завжди може відмовитись від отримання інформаційних повідомлень, надіславши Оператору електронну пошту на електронну адресу mail@instacafe.shop з позначкою "Відмова повідомляти про нові товари та послуги”.
                  <br>
                  Оператор може використовувати матеріал, що створено за замовленням Користувача для забезпечення власної рекламної діяльності, якщо іншого не було зазначено у будь-яких додаткових угодах.
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
