<div class="auth-wrapper auth-v1 px-2">
  <div class="auth-inner py-2">
    <!-- Reset Password v1 -->
    <div class="card mb-0">
      <div class="card-body">
        <a class="brand-logo" href="javascript:void(0);">
          <img alt="brand-logo" height="28" src="{{ coreConfig.app.appLogoImage }}"/>
          <h2 class="brand-text text-primary ml-1">Vuexy</h2>
        </a>

        <h4 class="card-title mb-1">Reset Password 🔒</h4>
        <p class="card-text mb-2">Your new password must be different from previously used passwords</p>

        <form (ngSubmit)="onSubmit()" [formGroup]="resetPasswordForm" class="auth-reset-password-form mt-2">
          <div class="form-group">
            <div class="d-flex justify-content-between">
              <label for="reset-password-new">New Password</label>
            </div>
            <div class="input-group input-group-merge form-password-toggle">
              <input
                [ngClass]="{ 'is-invalid error': submitted && f.newPassword.errors }"
                [type]="passwordTextType ? 'text' : 'password'"
                aria-describedby="reset-password-new"
                autofocus
                class="form-control form-control-merge"
                formControlName="newPassword"
                placeholder="············"
                tabindex="1"
              />
              <div class="input-group-append">
                <span class="input-group-text cursor-pointer"
                ><i
                  (click)="togglePasswordTextType()"
                  [ngClass]="{
                      'icon-eye-off': passwordTextType,
                      'icon-eye': !passwordTextType
                    }"
                  class="feather font-small-4"
                ></i
                ></span>
              </div>
            </div>
            <div
              *ngIf="submitted && f.newPassword.errors"
              [ngClass]="{ 'd-block': submitted && f.newPassword.errors }"
              class="invalid-feedback"
            >
              <div *ngIf="f.newPassword.errors.required">Password is required</div>
            </div>
          </div>
          <div class="form-group">
            <div class="d-flex justify-content-between">
              <label for="reset-password-confirm">Confirm Password</label>
            </div>
            <div class="input-group input-group-merge form-password-toggle">
              <input
                [ngClass]="{ 'is-invalid error': submitted && f.confirmPassword.errors }"
                [type]="confPasswordTextType ? 'text' : 'password'"
                aria-describedby="reset-password-confirm"
                class="form-control form-control-merge"
                formControlName="confirmPassword"
                placeholder="············"
                tabindex="2"
              />
              <div class="input-group-append">
                <span class="input-group-text cursor-pointer"
                ><i
                  (click)="toggleConfPasswordTextType()"
                  [ngClass]="{
                      'icon-eye-off': confPasswordTextType,
                      'icon-eye': !confPasswordTextType
                    }"
                  class="feather font-small-4"
                ></i
                ></span>
              </div>
            </div>
            <div
              *ngIf="submitted && f.confirmPassword.errors"
              [ngClass]="{ 'd-block': submitted && f.confirmPassword.errors }"
              class="invalid-feedback"
            >
              <div *ngIf="f.confirmPassword.errors.required">Password is required</div>
            </div>
          </div>
          <button class="btn btn-primary btn-block" rippleEffect tabindex="3">Set New Password</button>
        </form>

        <p class="text-center mt-2">
          <a routerLink="/pages/authentication/login-v1">
            <i class="mb-25" data-feather="chevron-left"></i> Back to login
          </a>
        </p>
      </div>
    </div>
    <!-- /Reset Password v1 -->
  </div>
</div>
