<div class="auth-wrapper auth-v1 px-2">
  <div class="auth-inner py-2">
    <!-- Register v1 -->
    <div class="card mb-0">
      <div class="card-body">
        <a class="brand-logo" href="javascript:void(0);">
          <img alt="brand-logo" height="28" src="{{ coreConfig.app.appLogoImage }}"/>
          <h2 class="brand-text text-primary ml-1">Vuexy</h2>
        </a>

        <h4 class="card-title mb-1">Adventure starts here 🚀</h4>
        <p class="card-text mb-2">Make your app management easy and fun!</p>

        <form (ngSubmit)="onSubmit()" [formGroup]="registerForm" class="auth-register-form mt-2">
          <div class="form-group">
            <label class="form-label" for="register-username">Username</label>
            <input
              [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
              aria-describedby="register-username"
              autofocus
              class="form-control"
              formControlName="username"
              placeholder="johndoe"
              tabindex="1"
              type="text"
            />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
          </div>
          <div class="form-group">
            <label class="form-label" for="register-email">Email</label>
            <input
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
              aria-describedby="register-email"
              class="form-control"
              formControlName="email"
              placeholder="john@example.com"
              tabindex="2"
              type="text"
            />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
          </div>

          <div class="form-group">
            <label class="form-label" for="register-password">Password</label>

            <div class="input-group input-group-merge form-password-toggle">
              <input
                [ngClass]="{ 'is-invalid error': submitted && f.password.errors }"
                [type]="passwordTextType ? 'text' : 'password'"
                aria-describedby="register-password"
                class="form-control form-control-merge"
                formControlName="password"
                placeholder="············"
                tabindex="3"
              />
              <div class="input-group-append">
                <span class="input-group-text cursor-pointer"
                ><i
                  (click)="togglePasswordTextType()"
                  [ngClass]="{
                      'icon-eye-off': passwordTextType,
                      'icon-eye': !passwordTextType
                    }"
                  class="feather font-small-4"
                ></i
                ></span>
              </div>
            </div>
            <div
              *ngIf="submitted && f.password.errors"
              [ngClass]="{ 'd-block': submitted && f.password.errors }"
              class="invalid-feedback"
            >
              <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
          </div>
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" id="register-privacy-policy" tabindex="4" type="checkbox"/>
              <label class="custom-control-label" for="register-privacy-policy">
                I agree to <a href="javascript:void(0);">privacy policy & terms</a>
              </label>
            </div>
          </div>
          <button class="btn btn-primary btn-block" rippleEffect tabindex="5">Sign up</button>
        </form>

        <p class="text-center mt-2">
          <span>Already have an account? </span>
          <a routerLink="/pages/authentication/login-v1">
            <span> Sign in instead</span>
          </a>
        </p>

        <div class="divider my-2">
          <div class="divider-text">or</div>
        </div>

        <div class="auth-footer-btn d-flex justify-content-center">
          <a class="btn btn-facebook" href="javascript:void(0)">
            <i data-feather="facebook"></i>
          </a>
          <a class="btn btn-twitter white" href="javascript:void(0)">
            <i data-feather="twitter"></i>
          </a>
          <a class="btn btn-google" href="javascript:void(0)">
            <i data-feather="mail"></i>
          </a>
          <a class="btn btn-github" href="javascript:void(0)">
            <i data-feather="github"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- /Register v1 -->
  </div>
</div>
