<div class="auth-wrapper auth-v1 px-2">
  <div class="auth-inner py-2">
    <!-- Forgot Password v1 -->
    <div class="card mb-0">
      <div class="card-body">
        <a class="brand-logo" href="javascript:void(0);">
          <img alt="brand-logo" height="28" src="{{ coreConfig.app.appLogoImage }}"/>
          <h2 class="brand-text text-primary ml-1">Instacafe Moments</h2>
        </a>

        <h4 class="card-title mb-1">Забули пароль? 🔒</h4>
        <p class="card-text mb-2">Відправте ваш email і ми відправимо вам інструкції для відновлення паролю</p>

        <form (ngSubmit)="onSubmit()" [formGroup]="forgotPasswordForm" class="auth-forgot-password-form mt-2">
          <div class="form-group">
            <label class="form-label" for="login-email">Email</label>
            <input
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
              aria-describedby="login-email"
              autofocus
              autocomplete="on"
              class="form-control"
              formControlName="email"
              id="login-email"
              tabindex="1"
              type="email"
            />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Це поле обовʼязкове!</div>
              <div *ngIf="f.email.errors.email">Введені некоректні дані</div>
            </div>
          </div>

          <!-- ngb-alert component -->
          <ngb-alert *ngIf="submitted && isNotRealEmail" [type]="'success'" [dismissible]="false">
            <h4 class="alert-heading">Пароль успішно скинутий!</h4>
            <div class="alert-body">
              На вашу пошту відправлений лист з подальшими інструкціями.
            </div>
          </ngb-alert>
          <!--/ ngb-alert component -->

          <!-- ngb-alert component -->
          <ngb-alert *ngIf="submitted && isProcessDone && !isNotRealEmail" [type]="'danger'" [dismissible]="false">
            <h4 class="alert-heading">Такої почти не існує. Спробуйте ще раз.</h4>
          </ngb-alert>
          <!--/ ngb-alert component -->

          <button class="btn btn-primary btn-block" rippleEffect tabindex="2">Відправити</button>
        </form>

        <p class="text-center mt-2">
          <a [routerLink]="['']">
            <i class="mb-25" data-feather="chevron-left"></i> Назад на сторінку Авторизації
          </a>
        </p>
      </div>
    </div>
    <!-- /Forgot Password v1 -->
  </div>
</div>
