<button (click)="logout()">Logout</button>
<hr>
<h1 style="color: cornflowerblue">Manager panel</h1>


<div *ngIf="isManagerUploaded">
  <div>
    <p>{{user.firstName}} {{user.lastName}}</p>
    <p>phone: {{user.phone}}</p>
    <p>email: {{user.email}}</p>
    <p>city: {{user.city}}</p>
  </div>
</div>
  <hr>
  <button (click)="showCertificatesBlock()">Certificates</button>
  <button (click)="showPhotoSessionBlock()">Photo Session</button>

  <div *ngIf="isShowCertificates">
    <button (click)="addCertificate()">Generate new Certificate</button>

    <hr>
    <div *ngFor="let certificate of certificates">
    <div>
      <p>{{certificate.certificateNumber}}</p>
      <button (click)="deleteCertificate(certificate.id)">Delete</button>
    </div>
    </div>

  </div>

  <div *ngIf="isShowPhotoSessionBlock">
    <button (click)="isAddPhotoSessionBlock = !isAddPhotoSessionBlock">Add New PhotoSession</button>
    <form [formGroup]="photoSessionForm" *ngIf="isAddPhotoSessionBlock" (submit)="submitPhotoSession()">
      <div class="col-5">
        <label for="firstName1">Client: </label>
        <br>
        <select ng-model="prop.value" ng-options="v for v in prop.values">
        </select>
      </div>
      <div class="col-5">
        <label for="lastName1">Last name:</label>
        <br>
        <input formControlName="lastName" id="lastName1" type="text">
      </div>
      <div class="col-5">
        <label for="phone1">Phone:</label>
        <br>
        <input formControlName="phone" id="phone1" type="text">
      </div>
      <div class="col-5">
        <label for="email1">Email:</label>
        <br>
        <input formControlName="email" id="email1" type="text">
      </div>
      <div class="col-5">
        <button disabled]="photoSessionForm.invalid" class="submit">Create PhotoSession</button>
      </div>
    </form>

    <table>
      <thead>
      <tr>
        <th>When</th>
        <th>Where</th>
        <th>Client</th>
        <th>Photographer</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let photoSession of photoSessions">
        <td>{{photoSession.willHappenAt}}</td>
        <td>{{photoSession.location}}</td>
        <td>{{photoSession.client.firstName}} {{photoSession.client.lastName}}</td>
        <td>{{photoSession.photographer.firstName}} {{photoSession.photographer.lastName}}</td>
        <td>{{photoSession.status}}</td>
      </tr>
      </tbody>
      </table>
  </div>
