<button (click)="logout()">Logout</button>
<hr>
<h1 style="color: cornflowerblue">Manager panel</h1>


<div *ngIf="isManagerUploaded">
  <div>
    <p>{{user.firstName}} {{user.lastName}}</p>
    <p>phone: {{user.phone}}</p>
    <p>email: {{user.email}}</p>
    <p>city: {{user.city}}</p>
  </div>
</div>
  <hr>
  <button (click)="showCertificatesBlock()">Certificates</button>
  <button (click)="showPhotoSessionBlock()">Photo Session</button>

  <div *ngIf="isShowCertificates">
    <button (click)="addCertificate()">Generate new Certificate</button>

    <hr>
    <div *ngFor="let certificate of certificates">
    <div>
      <p>{{certificate.certificateNumber}}</p>
      <button (click)="deleteCertificate(certificate.id)">Delete</button>
    </div>
    </div>

  </div>

  <div *ngIf="isShowPhotoSessionBlock">
    <br>
    <form [formGroup]="photoSessionForm" (submit)="submitPhotoSession()">
      <div class="col-5">
        <label for="clientId">Client:
        <select class="form-select" formControlName="clientId" id="clientId">
          <option *ngFor="let client of clients" [ngValue]="client.id">
            {{client.firstName}} {{client.lastName}}
          </option>
        </select>
        </label>
      </div>
      <div class="col-5">
        <label for="photographerId">Photographer:
        <select class="form-select" formControlName="photographerId" id="photographerId">
          <option *ngFor="let photographer of photographers" [ngValue]="photographer.id">
            {{photographer.firstName}} {{photographer.lastName}}
          </option>
        </select>
        </label>
      </div>
      <div class="col-5">
        <label for="type">Type:
        <select formControlName="type" id="type">
          <option value="{{ photoSessionType.TYPE_1 }}">{{ photoSessionType.TYPE_1 }}</option>
          <option value="{{ photoSessionType.TYPE_2 }}">{{ photoSessionType.TYPE_2 }}</option>
          <option value="{{ photoSessionType.TYPE_3 }}">{{ photoSessionType.TYPE_3 }}</option>
          <option value="{{ photoSessionType.TYPE_4 }}">{{ photoSessionType.TYPE_4 }}</option>
        </select>
        </label>
      </div>
      <div class="col-5">
        <label for="duration">Duration:
          <select formControlName="duration" id="duration">
            <option value="{{ duration.TWENTY_MINUTES }}">{{ duration.TWENTY_MINUTES }}</option>
            <option value="{{ duration.THIRTY_MINUTES }}">{{ duration.THIRTY_MINUTES }}</option>
            <option value="{{ duration.ONE_HOUR }}">{{ duration.ONE_HOUR }}</option>
          </select>
        </label>
      </div>
      <div class="col-5">
        <label for="location">Location:
          <input formControlName="location" id="location" type="text">
        </label>
      </div>
      <div class="col-5">
        <label for="city">City:
          <select formControlName="city" id="city">
            <option value="{{ city.KYIV }}">{{ city.KYIV }}</option>
            <option value="{{ city.ODESA }}">{{ city.ODESA }}</option>
            <option value="{{ city.DNIPRO }}">{{ city.DNIPRO }}</option>
          </select>
        </label>
      </div>
      <div class="col-5">
        <label for="willHappened">Date:
          <input formControlName="willHappened" id="willHappened" type="date">
        </label>
      </div>
      <div class="col-5">
        <label for="certificateId">Certificate:
          <select class="form-select" formControlName="certificateId" id="certificateId">
            <option *ngFor="let certificate of certificates" [ngValue]="certificate.id">
              {{certificate.certificateNumber}}
            </option>
          </select>
        </label>
      </div>

      <div class="col-5">
        <button [disabled]="photoSessionForm.invalid" class="submit">Create PhotoSession</button>
      </div>
    </form>

    <table>
      <thead>
      <tr>
        <th>When</th>
        <th>Where</th>
        <th>Client</th>
        <th>Photographer</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let photoSession of photoSessions">
        <td>{{photoSession.willHappenAt}}</td>
        <td>{{photoSession.location}}</td>
        <td>{{photoSession.chatId}} </td>
        <td>{{photoSession.photographerId}}</td>
        <td>{{photoSession.status}}</td>
      </tr>
      </tbody>
      </table>
  </div>
