<hr>
<h1 style="color: cornflowerblue">Photographer panel</h1>
<div *ngIf="isPhotographerUploaded">
  <div>
    <p>{{photographer.firstName}} {{photographer.lastName}}</p>
    <p>phone: {{photographer.phone}}</p>
    <p>email: {{photographer.email}}</p>
    <p>city: {{photographer.city}}</p>
  </div>
</div>

<button (click)="isShowUploadedImagesBlock = !isShowUploadedImagesBlock">Upload images</button>
<button (click)="isShowAllImages()">Show all images</button>
<button (click)="isShowDownloadedImagesBlock = !isShowDownloadedImagesBlock">Download images</button>

<div *ngIf="isShowUploadedImagesBlock" class="block-wrapper">
  <form (ngSubmit)="upload()" [formGroup]="formData">
    <label for="file">File</label>
    <input
      (change)="selectFile($event)"
      accept="image/*"
      class="form-control"
      formControlName="files"
      id="file"
      multiple
      type="file">

    <button [disabled]="!selected">Upload Files</button>
  </form>
</div>

<div *ngIf="isShowAllImagesBlock" class="block-wrapper">

  <div *ngFor="let path of photosPath">
    <img alt="" src="{{path}}" width="100px">
  </div>

</div>

<div *ngIf="isShowDownloadedImagesBlock" class="block-wrapper">
  <p>Download images</p>
</div>
