<form [formGroup]="createClientForm">
  <div class="col-5">
    <label for="firstName">First name: </label>
    <br>
    <input formControlName="firstName" id="firstName" type="text">
  </div>
  <div class="col-5">
    <label for="lastName">Last name:</label>
    <br>
    <input formControlName="lastName" id="lastName" type="text">
  </div>
  <div class="col-5">
    <label for="phone">Phone:</label>
    <br>
    <input formControlName="phone" id="phone" type="text">
  </div>
  <div class="col-5">
    <label for="email">Email:</label>
    <br>
    <input formControlName="email" id="email" type="text">
  </div>

  <div class="col-5">
    <label for="password">Password:</label>
    <br>
    <input formControlName="password" id="password" type="password">
  </div>
  <div class="col-5">
    <button (click)="createClient()" [disabled]="createClientForm.invalid" class="submit">Create Client</button>
  </div>
</form>


<div *ngIf="isRegSuccess">
  <p>Reg is success</p>
  <a href="/">Login</a>
</div>
