<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">

    <mat-card-header>
      <mat-card-title>Вхід до особистого кабінету</mat-card-title>
    </mat-card-header>
    <br>
    <form [formGroup]="loginForm">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <mat-label>Ваш email</mat-label>
          <input formControlName="email" matInput type="email">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Ваш пароль</mat-label>
          <input formControlName="password" matInput type="password">
        </mat-form-field>
      </mat-card-content>
      <button (click)="submit()" [disabled]="loginForm.invalid" mat-raised-button>Увійти</button>
      <br>
      <mat-error *ngIf="errorLogin">Помилка авторизації. Спробуйте ще раз.</mat-error>
    </form>
  </mat-card>

</div>
