
<form  [formGroup]="loginForm">
  <label for="username">Phone:</label>
  <br>
  <input type="email"  id="username" formControlName="username">
  <br> <br>
  <label for="password">Password:</label>
  <br>
  <input  type="password" id="password" formControlName="password">
  <br> <br>
  <button type="submit"  [disabled]="loginForm.invalid" (click)="submit()">Login</button>
</form>


<!--<script>-->
<!--  // Initialize the agent at application startup.-->
<!--  const fpPromise = new Promise((resolve, reject) => {-->
<!--    const script = document.createElement('script');-->
<!--    script.onload = resolve;-->
<!--    script.onerror = reject;-->
<!--    script.async = true;-->
<!--    script.src = 'https://cdn.jsdelivr.net/npm/'-->
<!--      + '@fingerprintjs/fingerprintjs-pro@3/dist/fp.min.js';-->
<!--    document.head.appendChild(script);-->
<!--  })-->
<!--    .then(() => FingerprintJS.load({-->
<!--      token: 'eUuBWKR9IvRV903YKBqk'-->
<!--    }));-->

<!--  // Get the visitor identifier when you need it.-->
<!--  fpPromise-->
<!--    .then(fp => fp.get())-->
<!--    .then(result => console.log(result.visitorId));-->
<!--</script>-->
