<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- users edit start -->
    <section class="app-user-edit">
      <div class="card">
        <div class="card-body">
          <ul #nav="ngbNav" class="nav nav-pills" ngbNav>
            <li ngbNavItem>
              <a class="d-flex align-items-center" ngbNavLink
              ><i class="mr-sm-50" data-feather="user"></i><span class="d-none d-sm-block">Account</span></a
              >
              <ng-template ngbNavContent>
                <!-- Account Tab starts -->
                <div aria-labelledby="account-tab" class="tab-pane active" id="account" role="tabpanel">
                  <!-- users edit media object start -->
                  <div class="media mb-2">
                    <div *ngIf="currentRow.avatar.length > 0; else customAvatar">
                      <img
                        [src]="avatarImage"
                        alt="User avatar"
                        class="user-avatar users-avatar-shadow rounded mr-2 my-25 cursor-pointer"
                        height="90"
                        width="90"
                      />
                    </div>
                    <ng-template #customAvatar>
                      <div
                        [ngClass]="{
                          'bg-light-success': currentRow.status == 'active',
                          'bg-light-secondary': currentRow.status == 'inactive',
                          'bg-light-warning': currentRow.status == 'pending'
                        }"
                        class="mr-1 ml-0"
                      >
                        <div class="rounded p-3">{{ currentRow.fullName | initials }}</div>
                      </div>
                    </ng-template>
                    <div class="media-body mt-50">
                      <h4>{{ currentRow.fullName }}</h4>
                      <div class="col-12 d-flex mt-1 px-0">
                        <label class="btn btn-primary mr-75 mb-0" for="change-picture">
                          <span class="d-none d-sm-block">Change</span>
                          <input
                            (change)="uploadImage($event)"
                            accept="image/png, image/jpeg, image/jpg"
                            class="form-control"
                            hidden
                            id="change-picture"
                            type="file"
                          />
                          <span class="d-block d-sm-none">
                            <i class="mr-0" data-feather="edit"></i>
                          </span>
                        </label>
                        <button class="btn btn-outline-secondary d-none d-sm-block" rippleEffect>Remove</button>
                        <button class="btn btn-outline-secondary d-block d-sm-none">
                          <i class="mr-0" data-feather="trash-2"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <!-- users edit media object ends -->
                  <!-- users edit account form start -->
                  <form #accountForm="ngForm" (ngSubmit)="(accountForm.form.valid)" class="form-validate">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="username">Username</label>
                          <input
                            #UserNameRef="ngModel"
                            [(ngModel)]="currentRow.username"
                            [class.error]="accountForm.submitted && UserNameRef.invalid"
                            class="form-control"
                            id="username"
                            name="username"
                            placeholder="Username"
                            required
                            type="text"
                          />
                          <span *ngIf="accountForm.submitted && UserNameRef.invalid" class="invalid-form">
                            <small *ngIf="UserNameRef.errors.required" class="form-text text-danger"
                            >This field is required!</small
                            >
                          </span>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="name">Name</label>
                          <input
                            #FullNameRef="ngModel"
                            [(ngModel)]="currentRow.fullName"
                            [class.error]="accountForm.submitted && FullNameRef.invalid"
                            class="form-control"
                            id="name"
                            name="fullName"
                            placeholder="Name"
                            required
                            type="text"
                          />
                          <span *ngIf="accountForm.submitted && FullNameRef.invalid" class="invalid-form">
                            <small *ngIf="FullNameRef.errors.required" class="form-text text-danger"
                            >This field is required!</small
                            >
                          </span>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email">E-mail</label>
                          <input
                            #EmailRef="ngModel"
                            [(ngModel)]="currentRow.email"
                            [class.error]="accountForm.submitted && EmailRef.invalid"
                            class="form-control"
                            id="email"
                            name="email"
                            placeholder="Email"
                            required
                            type="email"
                          />
                          <span *ngIf="accountForm.submitted && EmailRef.invalid" class="invalid-form">
                            <small *ngIf="EmailRef.errors.required" class="form-text text-danger"
                            >This field is required!</small
                            >
                          </span>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="status">Status</label>
                          <select [(ngModel)]="currentRow.status" class="form-control" id="status" name="status">
                            <option>active</option>
                            <option>inactive</option>
                            <option>pending</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="role">Role</label>
                          <select [(ngModel)]="currentRow.role" class="form-control" id="role" name="role">
                            <option>Maintainer</option>
                            <option>Subscriber</option>
                            <option>Author</option>
                            <option>Editor</option>
                            <option>Admin</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="company">Company</label>
                          <input
                            [(ngModel)]="currentRow.company"
                            class="form-control"
                            id="company"
                            name="company"
                            placeholder="Company name"
                            type="text"
                          />
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="table-responsive border rounded mt-1">
                          <h6 class="py-1 mx-1 mb-0 font-medium-2">
                            <i [size]="20" class="mr-25" data-feather="lock"></i>
                            <span class="align-middle">Permission</span>
                          </h6>
                          <table class="table table-striped table-borderless">
                            <thead class="thead-light">
                            <tr>
                              <th>Module</th>
                              <th>Read</th>
                              <th>Write</th>
                              <th>Create</th>
                              <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                              <td>Admin</td>
                              <td>
                                <div class="custom-control custom-checkbox">
                                  <input checked class="custom-control-input" id="admin-read" type="checkbox"/>
                                  <label class="custom-control-label" for="admin-read"></label>
                                </div>
                              </td>
                              <td>
                                <div class="custom-control custom-checkbox">
                                  <input class="custom-control-input" id="admin-write" type="checkbox"/>
                                  <label class="custom-control-label" for="admin-write"></label>
                                </div>
                              </td>
                              <td>
                                <div class="custom-control custom-checkbox">
                                  <input class="custom-control-input" id="admin-create" type="checkbox"/>
                                  <label class="custom-control-label" for="admin-create"></label>
                                </div>
                              </td>
                              <td>
                                <div class="custom-control custom-checkbox">
                                  <input class="custom-control-input" id="admin-delete" type="checkbox"/>
                                  <label class="custom-control-label" for="admin-delete"></label>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td>Staff</td>
                              <td>
                                <div class="custom-control custom-checkbox">
                                  <input class="custom-control-input" id="staff-read" type="checkbox"/>
                                  <label class="custom-control-label" for="staff-read"></label>
                                </div>
                              </td>
                              <td>
                                <div class="custom-control custom-checkbox">
                                  <input checked class="custom-control-input" id="staff-write" type="checkbox"/>
                                  <label class="custom-control-label" for="staff-write"></label>
                                </div>
                              </td>
                              <td>
                                <div class="custom-control custom-checkbox">
                                  <input class="custom-control-input" id="staff-create" type="checkbox"/>
                                  <label class="custom-control-label" for="staff-create"></label>
                                </div>
                              </td>
                              <td>
                                <div class="custom-control custom-checkbox">
                                  <input class="custom-control-input" id="staff-delete" type="checkbox"/>
                                  <label class="custom-control-label" for="staff-delete"></label>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td>Author</td>
                              <td>
                                <div class="custom-control custom-checkbox">
                                  <input checked class="custom-control-input" id="author-read" type="checkbox"/>
                                  <label class="custom-control-label" for="author-read"></label>
                                </div>
                              </td>
                              <td>
                                <div class="custom-control custom-checkbox">
                                  <input class="custom-control-input" id="author-write" type="checkbox"/>
                                  <label class="custom-control-label" for="author-write"></label>
                                </div>
                              </td>
                              <td>
                                <div class="custom-control custom-checkbox">
                                  <input checked class="custom-control-input" id="author-create" type="checkbox"/>
                                  <label class="custom-control-label" for="author-create"></label>
                                </div>
                              </td>
                              <td>
                                <div class="custom-control custom-checkbox">
                                  <input class="custom-control-input" id="author-delete" type="checkbox"/>
                                  <label class="custom-control-label" for="author-delete"></label>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td>Contributor</td>
                              <td>
                                <div class="custom-control custom-checkbox">
                                  <input class="custom-control-input" id="contributor-read" type="checkbox"/>
                                  <label class="custom-control-label" for="contributor-read"></label>
                                </div>
                              </td>
                              <td>
                                <div class="custom-control custom-checkbox">
                                  <input class="custom-control-input" id="contributor-write" type="checkbox"/>
                                  <label class="custom-control-label" for="contributor-write"></label>
                                </div>
                              </td>
                              <td>
                                <div class="custom-control custom-checkbox">
                                  <input class="custom-control-input" id="contributor-create" type="checkbox"/>
                                  <label class="custom-control-label" for="contributor-create"></label>
                                </div>
                              </td>
                              <td>
                                <div class="custom-control custom-checkbox">
                                  <input class="custom-control-input" id="contributor-delete" type="checkbox"/>
                                  <label class="custom-control-label" for="contributor-delete"></label>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td>User</td>
                              <td>
                                <div class="custom-control custom-checkbox">
                                  <input class="custom-control-input" id="user-read" type="checkbox"/>
                                  <label class="custom-control-label" for="user-read"></label>
                                </div>
                              </td>
                              <td>
                                <div class="custom-control custom-checkbox">
                                  <input class="custom-control-input" id="user-create" type="checkbox"/>
                                  <label class="custom-control-label" for="user-create"></label>
                                </div>
                              </td>
                              <td>
                                <div class="custom-control custom-checkbox">
                                  <input class="custom-control-input" id="user-write" type="checkbox"/>
                                  <label class="custom-control-label" for="user-write"></label>
                                </div>
                              </td>
                              <td>
                                <div class="custom-control custom-checkbox">
                                  <input checked class="custom-control-input" id="user-delete" type="checkbox"/>
                                  <label class="custom-control-label" for="user-delete"></label>
                                </div>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                        <button
                          (click)="submit(accountForm)"
                          class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1"
                          rippleEffect
                          type="submit"
                        >
                          Save Changes
                        </button>
                        <button (click)="resetFormWithDefaultValues()" class="btn btn-outline-secondary" rippleEffect>
                          Reset
                        </button>
                      </div>
                    </div>
                  </form>
                  <!-- users edit account form ends -->
                </div>
                <!-- Account Tab ends -->
              </ng-template>
            </li>
            <li ngbNavItem>
              <a class="d-flex align-items-center" ngbNavLink>
                <i class="mr-sm-50" data-feather="info"></i><span class="d-none d-sm-block">Information</span></a
              >
              <ng-template ngbNavContent>
                <!-- Information Tab starts -->
                <div aria-labelledby="information-tab" class="tab-pane" id="information" role="tabpanel">
                  <!-- users edit Info form start  -->
                  <form class="form-validate">
                    <div class="row mt-1">
                      <div class="col-12">
                        <h4 class="mb-1">
                          <i [size]="16" class="mr-75 font-medium-4" data-feather="user"></i>
                          <span class="align-middle">Personal Information</span>
                        </h4>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="form-group">
                          <label for="birth">Birth date</label>
                          <ng2-flatpickr
                            [config]="birthDateOptions"
                            id="birthDate"
                            name="birthDate"
                            placeholder="June 18, 2021"
                          ></ng2-flatpickr>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="form-group">
                          <label for="mobile">Mobile</label>
                          <input class="form-control" id="mobile" name="phone" type="text" value="&#43;6595895857"/>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="form-group">
                          <label for="website">Website</label>
                          <input
                            class="form-control"
                            id="website"
                            name="website"
                            placeholder="Website here..."
                            type="text"
                            value="https://rowboat.com/insititious/Angelo"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="form-group">
                          <label for="languages">Languages</label>
                          <select class="form-control" id="languages">
                            <option value="English">English</option>
                            <option value="Spanish">Spanish</option>
                            <option selected value="French">French</option>
                            <option value="Russian">Russian</option>
                            <option value="German">German</option>
                            <option value="Arabic">Arabic</option>
                            <option value="Sanskrit">Sanskrit</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="form-group">
                          <label class="d-block mb-1">Gender</label>
                          <div class="custom-control custom-radio custom-control-inline">
                            <input class="custom-control-input" id="male" name="gender" type="radio"/>
                            <label class="custom-control-label" for="male">Male</label>
                          </div>
                          <div class="custom-control custom-radio custom-control-inline">
                            <input checked class="custom-control-input" id="female" name="gender" type="radio"/>
                            <label class="custom-control-label" for="female">Female</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="form-group">
                          <label class="d-block mb-1">Contact Options</label>
                          <div class="custom-control custom-checkbox custom-control-inline">
                            <input checked class="custom-control-input" id="email-cb" type="checkbox"/>
                            <label class="custom-control-label" for="email-cb">Email</label>
                          </div>
                          <div class="custom-control custom-checkbox custom-control-inline">
                            <input checked class="custom-control-input" id="message" type="checkbox"/>
                            <label class="custom-control-label" for="message">Message</label>
                          </div>
                          <div class="custom-control custom-checkbox custom-control-inline">
                            <input class="custom-control-input" id="phone" type="checkbox"/>
                            <label class="custom-control-label" for="phone">Phone</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <h4 class="mb-1 mt-2">
                          <i [size]="16" class="mr-75 font-medium-4" data-feather="map-pin"></i>
                          <span class="align-middle">Address</span>
                        </h4>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="form-group">
                          <label for="address-1">Address Line 1</label>
                          <input
                            class="form-control"
                            id="address-1"
                            name="address"
                            type="text"
                            value="A-65, Belvedere Streets"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="form-group">
                          <label for="address-2">Address Line 2</label>
                          <input class="form-control" id="address-2" placeholder="T-78, Groove Street" type="text"/>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="form-group">
                          <label for="postcode">Postcode</label>
                          <input class="form-control" id="postcode" name="zip" placeholder="597626" type="text"/>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="form-group">
                          <label for="city">City</label>
                          <input class="form-control" id="city" name="city" type="text" value="New York"/>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="form-group">
                          <label for="state">State</label>
                          <input class="form-control" id="state" name="state" placeholder="Manhattan" type="text"/>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="form-group">
                          <label for="country">Country</label>
                          <input
                            class="form-control"
                            id="country"
                            name="country"
                            placeholder="United States"
                            type="text"
                          />
                        </div>
                      </div>
                      <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                        <button class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect type="submit">
                          Save Changes
                        </button>
                        <button class="btn btn-outline-secondary" rippleEffect type="reset">Reset</button>
                      </div>
                    </div>
                  </form>
                  <!-- users edit Info form ends -->
                </div>
                <!-- Information Tab ends -->
              </ng-template>
            </li>
            <li ngbNavItem>
              <a class="d-flex align-items-center" ngbNavLink
              ><i class="mr-sm-50" data-feather="share-2"></i><span class="d-none d-sm-block">Social</span></a
              >
              <ng-template ngbNavContent>
                <!-- Social Tab starts -->
                <div aria-labelledby="social-tab" class="tab-pane" id="social" role="tabpanel">
                  <!-- users edit social form start -->
                  <form class="form-validate">
                    <div class="row">
                      <div class="col-lg-4 col-md-6 form-group">
                        <label for="twitter-input">Twitter</label>
                        <div class="input-group input-group-merge">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">
                              <i class="font-medium-2" data-feather="twitter"></i>
                            </span>
                          </div>
                          <input
                            aria-describedby="basic-addon3"
                            class="form-control"
                            id="twitter-input"
                            placeholder="https://www.twitter.com/"
                            type="text"
                            value="https://www.twitter.com/adoptionism744"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 form-group">
                        <label for="facebook-input">Facebook</label>
                        <div class="input-group input-group-merge">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon4">
                              <i class="font-medium-2" data-feather="facebook"></i>
                            </span>
                          </div>
                          <input
                            aria-describedby="basic-addon4"
                            class="form-control"
                            id="facebook-input"
                            placeholder="https://www.facebook.com/"
                            type="text"
                            value="https://www.facebook.com/adoptionism664"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 form-group">
                        <label for="instagram-input">Instagram</label>
                        <div class="input-group input-group-merge">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon5">
                              <i class="font-medium-2" data-feather="instagram"></i>
                            </span>
                          </div>
                          <input
                            aria-describedby="basic-addon5"
                            class="form-control"
                            id="instagram-input"
                            placeholder="https://www.instagram.com/"
                            type="text"
                            value="https://www.instagram.com/adopt-ionism744"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 form-group">
                        <label for="github-input">Github</label>
                        <div class="input-group input-group-merge">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon9">
                              <i class="font-medium-2" data-feather="github"></i>
                            </span>
                          </div>
                          <input
                            aria-describedby="basic-addon9"
                            class="form-control"
                            id="github-input"
                            placeholder="https://www.github.com/"
                            type="text"
                            value="https://www.github.com/madop818"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 form-group">
                        <label for="codepen-input">Codepen</label>
                        <div class="input-group input-group-merge">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon12">
                              <i class="font-medium-2" data-feather="codepen"></i>
                            </span>
                          </div>
                          <input
                            aria-describedby="basic-addon12"
                            class="form-control"
                            id="codepen-input"
                            placeholder="https://www.codepen.com/"
                            type="text"
                            value="https://www.codepen.com/adoptism243"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 form-group">
                        <label for="slack-input">Slack</label>
                        <div class="input-group input-group-merge">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon11">
                              <i class="font-medium-2" data-feather="slack"></i>
                            </span>
                          </div>
                          <input
                            aria-describedby="basic-addon11"
                            class="form-control"
                            id="slack-input"
                            placeholder="https://www.slack.com/"
                            type="text"
                            value="@adoptionism744"
                          />
                        </div>
                      </div>

                      <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                        <button class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect type="submit">
                          Save Changes
                        </button>
                        <button class="btn btn-outline-secondary" rippleEffect type="reset">Reset</button>
                      </div>
                    </div>
                  </form>
                  <!-- users edit socail form ends -->
                </div>
                <!-- Social Tab ends -->
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
      </div>
    </section>
    <!-- users edit ends -->
  </div>
</div>
